<%= form_with(model: article, local: true) do |f| %>

  <div class="field">
    <%= f.label :images %><br />
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="field">
    <%= f.label :videos %>
    <%= f.file_field :videos, multiple: true %>
  </div>
  <div class="field">
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
<%#= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
