<%= form_with(model: article, local: true) do |f| %>


<div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
