<%= form_with(model: article, local: true) do |f| %>
<div class="form-row" style="padding: 0 15px;">
  <div class="form-group col-sm-4">
    <%= f.label :images, class: "col-form-label-sm"  %><br />
    <%= f.file_field :images, multiple: true , class: "form-control form-control-sm" %>
  </div>

  <div class="form-group col-sm-4">
    <%= f.label :videos, class: "col-form-label-sm"   %>
    <%= f.file_field :videos, multiple: true , class: "form-control form-control-sm" %>
  </div>
</div>
<div class="form-row" style="padding: 0 15px;">
  <div class="form-group col-sm-4">
    <%= f.label :title, class: "col-form-label-sm" %><br/>
    <%= f.text_field :title, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group col-sm-4">
    <%= f.label :tag_list, "Insert Tags(Seperated by comma)", class: "col-form-label-sm"  %>
    <%= f.text_field :tag_list,class: "form-control form-control-sm autocomplete-tag", data: {autocomplete_source: ActsAsTaggableOn::Tag.order(:name).map(&:name)}
    %>
  </div>
</div>
  <div class="form-group col-sm-6">
    <%= f.label :description, class: "col-form-label-sm"  %>
    <%= f.text_area :description, :class => "description-field", class: "form-control form-control-sm"  %>
  </div>
<div class="row">

  <div class="col">
    <%= link_to 'Back', articles_path , class: "rounded", style: "padding: 5px; margin: 5px;"%>
  </div>
  <div class="actions col-sm" >
    <%= f.submit "Submit", class: "rounded", style: "margin: 5px;" %>
  </div>
</div>
<% end %>
