<h1> Hello </h1>
<% unless current_user %>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<% else %>
  <%= current_user[:name] %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% @articles.each do |post|%>
    <br>
    <%= post.title  %>
    <%= post.description  %>

    <% vote = Vote.find_by(article: post.id, user_id: current_user.id) %>
  <% if !vote.nil? %>
  	<% if vote.vote? %>
  		<%= "UPVOTE" %>
  		<%= Vote.where(article_id: post.id, vote: true).count %>
  	<% end %>
  <% else %>
  	<%= "UPVOTE" %>
  		<%= Vote.where(article_id: post.id, vote: true).count %>
  <% end %>
    <%=link_to "Show Post", controller: "articles", action: "show", id: post.id %>
  <% end %>
<% end %>
<%= link_to "Create Post", new_article_path %>
