<h1> Welcome back</h1>
<p><%= @client_ip %></p>

  <% unless current_user %>
  <div class="container-a">
    <div class="featured">
      <div class="header">
        <p class="title">Featured</p>
        <p class="subtitle">Stories you would want to know</p>
      </div>
      <div class="featured-cards">
        <div class="row">
          <div class="col-7">
            <div class="card-main featured">
            </div>
          </div>
          <div class="col-5">
            <div class="card-list featured">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="latest">
      <div class="featured-cards">
        <div class="row">
          <div class="col-5">
            <div class="card-list featured">
            </div>
          </div>
          <div class="col-7">
            <div class="card-main featured">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-b">
    <div class="latest">
      <div class="latest-cards">
        <div class="row">
          <div class="col-8">
            <div class="card-list featured">
            </div>
          </div>
          <div class="col-4">
            <div class="card-main featured">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- If no login -->
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <%= link_to "Create Post", new_user_session_path %>

  <% else %>

  <!-- After login -->
  <h1> Welcome back, <%= current_user[:name] %></h1>

    <%= link_to "Create Post", new_article_path %>

    <!-- Display all post -->
      <% @articles.each do |post|%>
        <br>
        <%= post.title  %>
        <%= post.description %>
        <%= post.impressionist_count(:filter=>:ip_address) %>

        <!-- Variable vote to be used in the if else check -->
        <% vote = Vote.find_by(article: post.id, user_id: current_user.id) %>
          <% if !vote.nil? %>
          	<% if vote.vote? %>
          		<%= "UPVOTE" %>
          		<%= Vote.where(article_id: post.id, vote: true).count %>
          	<% end %>
          <% else %>
          	<%= "UPVOTE" %>
          	<%= Vote.where(article_id: post.id, vote: true).count %>
          <% end %>
        <%=link_to "Show Post", controller: "articles", action: "show", id: post.id %>
      <% end %>
    <%# link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>


<div id="form">
  <%= form_tag("/articles/search", method: "get") do %>
      <%= label_tag(:search, "Search for tag:") %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search") %>
  <% end %>
</div>

  <script>
  	$(document).ready(function() {
  		var ip = '<%= @client_ip %>'
  		access_key = '31e5c96fa25549dcae739e11d47daf20'
  		console.log(access_key)

    	$.ajax({
    		type: "GET",
    		url: "http://api.ipstack.com/"+ip+"?access_key="+access_key,
    		dataType: "json",
    		success: function(data){
          console.log(data)
          var ip = '<%= @client_ip %>'
          console.log(ip)
          console.log('<%= @client_ip %>')
          var isp = "NA"
          var city = data.city
          var state = data.region_name
          var country = data.country_name
          var postcode = data.zip
          var lat = data.latitude
          var long = data.longitude

    			$('#form').append(data.country_name)
          $('#form').append("<%= j(render(:partial => 'devices/form')) %>")
          $('#ip').val(ip);
          $('#isp').val(isp);
          $('#city').val(city);
          $('#state').val(state);
          $('#country').val(country);
          $('#postcode').val(postcode);
          $('#latitude').val(lat);
          $('#longitude').val(long);
          $('#device').submit();
    		}
    	})
  	})
  </script>
