<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120935558-1"></script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120935558-1');
</script>

<!-- hotjar installed -->
<script>
  (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:948381,hjsv:6};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- hotjar end -->

<div class="wrapper">
  <header class="main-head">
  <!-- Header for images/title together -->
    <div class="header mt-5">
      <% if @article.videos.length != 0 && @article.images.length != 0 %>
        <!-- Show video and image together in carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @article.videos.each do |video| %>
              <div class="carousel-item active center-item">
                <%= video_tag video.to_s, controls: true, size: "250"%>
              </div>
            <% end %>
            <% @article.images.each do |img|%>
              <div class="carousel-item center-item">
                <%= image_tag(img.large.url, size: "600x600") %>
              </div>
            <% end %>
          </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- End of show video and image -->
      <% elsif @article.images.length!= 0%>
        <!-- only for image carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @article.images.each_with_index do |img, index|%>
              <% if index == 0 %>
                <div class="carousel-item active center-item">
                  <%= image_tag(img.large.url, size: "600x600") %>
                </div>
              <% else %>
                <div class="carousel-item center-item">
                  <%= image_tag(img.large.url, size: "600x600") %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <hr>

    <div class="show-header">
      <p><%= @article.title  %></p>
    </div>
      </br>
    <div class="author">
      <p>Posted on <%= @article.created_at.strftime("%d %B %Y") %> |
        <%= @article.impressionist_count(:filter=>:ip_address) %> Views
      </p>


    </div>
  </header>


  <!-- Social share side -->
  <nav class="main-nav">
    <div class="sticky-social">
      <ul>
        <!-- AddToAny BEGIN -->
        <p>Share via:</p>
          <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_google_gmail"></a>
            <a class="a2a_button_whatsapp"></a>
            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
          </div>
        <!-- AddToAny END -->
      </ul>
    </div>
  </nav>
  <!-- Social Share End -->

  <!-- Article -->
    <article class="content">

      <!-- Article body -->
      <p><%= @article.description  %></p>

        <p>Number of views
          <%= @article.impressionist_count(:filter=>:ip_address) %>
        </p>

        <!-- If signed in, show this -->
      <% if current_user %>
        <% vote = Vote.find_by(article: @article.id, user_id: current_user.id) %>
        <!-- If no vote -->
          <% if !vote.nil? %> <!-- if vote find_by not nil is true-->
            <% if vote.vote? %>  <!-- if vote value is true-->
              <%= link_to "UPVOTE | #{Vote.where(article_id: @article.id, vote: true).count}", upvote_article_votes_path(@article), class: "btn btn-default btn-sm upvote", :remote => true %>
              <%= link_to "DOWNVOTE | #{Vote.where(article_id: @article.id, vote: false).count}", downvote_article_votes_path(@article), class: "btn btn-default btn-sm downvote", :remote => true %>
            <% else %>
              <%= link_to "UPVOTE | #{Vote.where(article_id: @article.id, vote: true).count}", upvote_article_votes_path(@article), class: "btn btn-outline-default btn-sm upvote", :remote => true %>
              <%= link_to "DOWNVOTE | #{Vote.where(article_id: @article.id, vote: false).count}", downvote_article_votes_path(@article), class: "btn btn-default btn-sm downvote" , :remote => true%>
            <% end %>
          <% else %>
            <%= link_to "UPVOTE | #{Vote.where(article_id: @article.id, vote: true).count}", upvote_article_votes_path(@article), class: "btn btn-outline-secondary btn-sm upvote", :remote => true %>
            <%= link_to "DOWNVOTE | #{Vote.where(article_id: @article.id, vote: false).count}", downvote_article_votes_path(@article), class: "btn btn-default btn-sm downvote" , :remote => true%>
          <% end %>
          <!-- If not sign in, show this -->
      <% else %>
        <%= link_to "UPVOTE | #{Vote.where(article_id: @article.id, vote: true).count}", upvote_article_votes_path(@article), class: "btn btn-outline-secondary btn-sm disabled", :remote => true %>
        <%= link_to "DOWNVOTE | #{Vote.where(article_id: @article.id, vote: false).count}", downvote_article_votes_path(@article), class: "btn btn-default btn-sm downvote disabled" , :remote => true%>
      <% end %>
    <% if current_user %>
      <% if current_user.id == @article.user_id%>
        <%= link_to 'Edit', edit_article_path(@article) %> |
        <%= link_to 'Back', articles_path %>
      <% else %>
        <%= link_to 'Back', articles_path %>
      <% end %>
    <% end %>  


    </article>
    <!-- Article ends -->

<!-- Right side bar -->
<aside class="side">
  <div class="side-nav">
    <div class="header">
      <p class="title background">Pedas Stories</p>
    </div>
    <hr/ class="my-2">
    <% @articles.limit(5).each do |post|%>
    <!-- card deck -->
      <a href="<%= post.id %>">
        <div class="card shadow-sm">
          <div class="row">
            <div class="col-8 p-0">
              <div class="card-body d-flex flex-column">
                <div class="card-title"><%= post.title %></div>
                <div class="stats mt-auto">
                  <i class="fa fa-eye"></i> <%= post.impressionist_count(:filter=>:ip_address) %> <i class="fa fa-heart"></i> <%= Vote.where(article_id: @articles[0].id, vote: true).count %>
                </div>
              </div>
            </div>
            <div class="col-4 p-0">
              <div class="img-wrap">
                <img class="card-img-right pull-right" src="<%= post.images[0].thumb if post.images? %>" alt="Card image cap">
              </div>
            </div>
          </div>
        </div>
      </a>
    <!-- card ends -->
    <% end %>
    <!-- deck end -->
    <div class="ad">
      <!-- advertisement card -->
      <div class="col-sm p-0 mt-3">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Advertisement</p>
          </div>
        </div>
      </div>
      <!-- card end -->
    </div>
    <hr/ class="my-2">
    <ul class="footer-links d-flex flex-wrap justify-content-center">
      <li><%= link_to 'Advertise!', root_path, class: "" %></li>
      <li><%= link_to 'Help', root_path, class: "" %></li>
      <li><%= link_to 'Privacy', root_path, class: "" %></li>
      <li><%= link_to 'Terms', root_path, class: "" %></li>
      <li><%= link_to 'About', root_path, class: "" %></li>
      <li><%= link_to 'Contact', root_path, class: "" %></li>
    </ul>
  </div>
  <!-- side nav ends -->
<!-- sticky ends for right nav -->
</aside>

<footer class="main-footer">
  <p>Other stories like this</p>


  <div class="footer-wrapper">
    <% if @relevant_tag.length != 1 %>
    <%# byebug %>
      <% @relevant_tag.take(2).each do |relevant_article| %>
        <a href="<%= relevant_article.id %>">
          <div class="footer-box">
            <% if relevant_article.images == nil %>

            <% else %>
              <img class="footer-image" src="<%= relevant_article.images[0]%>" alt="Card image cap"  height="15" width="15">
            <% end %>


            <div class="footer-title">
              <%= relevant_article.title %>
            </div>

            <div class="footer-desc">
              <%= relevant_article.description.first(40) %>
              <p>... read more<p>
            </div>
          </div>
        </a>
     <% end %>
    <% end %>

  </div>


 </footer>

 <div class="disqus" id="disqus_thread">
 </div>
 <script id="dsq-count-scr" src="//www-uglymalaysia.disqus.com/count.js" async></script>

</div>

<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
  this.page.url = "<%= request.original_url %>";
  this.page.identifier = 'article-<%= @article.id %>';

};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://uglymy-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript#disqus_thread">comments powered by Disqus.</a></noscript>

</body>
