<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120935558-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120935558-1');
</script>

<!-- hotjar installed -->
<script>
  (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:948381,hjsv:6};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- hotjar end -->

<div class="container">
<div class="header">
  <p class="title">Pedas News</p>
  <p class="subtitle">Trending stories you have to know</p>
</div>
  <% if @output.empty? %>
  <div class="text-center">
    <p>Please come back later for more news!</p>
  </div>
  <% else %>
  <div class="row singles">
    <% @output.each do |post|%>
    <div class="col-sm-12 col-md-4 col-lg-3 mb-3 px-2">
      <a href="articles/<%= post.id %>">
        <div class="card shadow-sm h-100">
          <div class="img-wrap">
            <% if post.images? %>
              <img class="card-img-top" src="<%= post.images[0].url%>" alt="Card image cap">
            <% end %>
          </div>
          <div class="card-body">
            <div class="tags">
              <% post.tag_list.each do |tag| %>
                <button href="articles/search/<%= tag %>" class="btn btn-sm btn-outline-danger"> <%= tag %> </button>
              <%end%>
            </div>
            <p class="card-title"><%= post.title  %></p>
            <div class="stats d-flex flex-wrap justify-content-between align-self-end">
              <li><i class="fa fa-eye"></i> <%= post.impressionist_count(:filter=>:ip_address) %></p></li>
              <li><i class="fa fa-heart"></i> <%= Vote.where(article_id: post.id, vote: true).count %></li>
              <li><i class="fa fa-calendar"></i> <%= time_ago_in_words(post.created_at) unless post.created_at.blank? %> ago</li>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
