<%= form_with(model: @device, url: devices_path, local: false, id: :device) do |f| %>
  <p>hello</p>
  <%= f.hidden_field :user_id, value: current_user %>
  <%= f.hidden_field :ip, id: "ip" %>
  <%= f.hidden_field :isp, id: "isp" %>
  <%= f.hidden_field :city, id: "city" %>
  <%= f.hidden_field :state, id: "state" %>
  <%= f.hidden_field :country, id: "country" %>
  <%= f.hidden_field :postcode, id: "postcode" %>
  <%= f.hidden_field :latitude, id: "latitude" %>
  <%= f.hidden_field :longitude, id: "longitude" %>

<% end %>
