<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120935558-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120935558-1');
</script>

<!-- Hotjar Tracking Code for http://uglymalaysia.vz2k7vdg9a.ap-southeast-1.elasticbeanstalk.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:948381,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form-row">
  <div class="form-group col-md-12">
    <%= f.label :email , class: "col-form-label-sm"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-12">
    <%= f.label :password, class: "col-form-label-sm" %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-sm" %>
  </div>
</div>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

<% end %>


<%= render "devise/shared/links" %>
