<!DOCTYPE html>
<html>
  <head>
    <title>UM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KQ7MZZF');</script>
    <!-- End Google Tag Manager -->

  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQ7MZZF"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- hotjar installed -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:948381,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- hotjar end -->
    
      <%= render partial: '/layouts/nav' %>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <p class="navbar-text pull-right">

<!-- Sign Up Modal -->
      <div class="modal fade signupModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-lg">
          <div class="modal-content">
            <div style="margin: 10px 15px 0px 15px;">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" >&times;</span>
              </button>
              <div class="header">
                <p class="title-signup">Sign up with email</p>
                <p class="subtitle-signup">Enter your particulars for your account, and we'll send a verification link to your inbox.</p>
              </div>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <%= render(template: "devise/registrations/new")%>
              </div>
              <div class="col">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- Sign Up Modal End -->

<!-- Login Modal -->
      <div class="modal fade"  id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-lg">
          <div class="modal-content">
            <div style="margin: 10px 15px 0px 15px;">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" >&times;</span>
              </button>
              <div class="header">
                <p class="title-signup">Welcome back</p>
                <p class="subtitle-signup">Sign in to access share stories, like articles and leave your thoughts that matters to you.</p>
              </div>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="partial">
                  <%= render partial: 'partial/loginlinks'%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- Login Modal End -->

<!-- Email Login Modal -->
      <div class="modal fade"  id="emailModalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-lg" role="document">
          <div class="modal-content">
            <div style="margin: 10px 15px 0px 15px;">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" >&times;</span>
              </button>
              <div class="header">
                <p class="title-signup">Welcome back</p>
                <p class="subtitle-signup">Sign in to access share stories, like articles and leave your thoughts that matters to you.</p>
              </div>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="partial">
                  <%= render template: 'devise/sessions/new'%>
                </div>
                <p id="loginemail"></p>
                <%= link_to "Back" ,"", id: "backtomodal"%>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- Email Login End -->

      <%= yield %>



      <script>
      $(document).ready(function() {
      	// get current URL path and assign 'active' class
        var pathname = window.location.pathname;
        $('a[href="'+pathname+'"]').parent().addClass('active');
        // assign 'active' class on click
        $('a').click(function(){
          $('li').removeClass("active");
          $(this).parent('li').addClass("active");
        });
      });

      $(document).ready(function(){
          $("#email").on("click", function(event){
            event.preventDefault();
            $("#exampleModalCenter").modal("hide");
            $("#emailModalLogin").modal("show");
          })
          $("#backtomodal").on("click", function(event){
            event.preventDefault();
            $("#emailModalLogin").modal("hide");
            $("#exampleModalCenter").modal("show");
          })
      });


      </script>


  </body>
</html>
