<!DOCTYPE html>
<html>
  <head>
    <title>UM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KQ7MZZF');</script>
    <!-- End Google Tag Manager -->

  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQ7MZZF"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- hotjar installed -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:948381,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- hotjar end -->

      <%= render partial: '/layouts/nav' %>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <p class="navbar-text pull-right">

<!-- Sign Up & Sign In Modal -->
      <div class="modal fade signupModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-lg">
<!--  Sign Up Content-->
            <div class="modal-content sign_up_content">
              <div style="margin: 10px 15px 0px 15px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" >&times;</span>
                </button>
                <div class="header">
                  <p class="title-signup">Sign up with email</p>
                  <p class="subtitle-signup">Enter your particulars for your account, and we'll send a verification link to your inbox.</p>
                </div>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <%= render(template: "devise/registrations/new")%>
                </div>
                <div class="col">
                  <%= render "devise/shared/links" %>
                </div>
                <a class="nav-link light sign_in_link" style="padding: 0 16px" href="">Already a member? Sign in here</a>
              </div>
            </div>

<!--  Sign In Options-->
            <div class="modal-content sign_in_options">
              <div style="margin: 10px 15px 0px 15px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" >&times;</span>
                </button>
                <div class="header">
                  <p class="title-signup">Welcome back</p>
                  <p class="subtitle-signup">Sign in to access share stories, like articles and leave your thoughts that matters to you.</p>
                </div>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <%= render partial: 'partial/loginlinks'%>
                </div>
                <a class="nav-link light sign_up_link" style="padding: 0 16px" href="">Not a member? Sign up now!</a>
              </div>
            </div>

<!--  Email Sign in Content-->
            <div class="modal-content email_sign_in_content">
              <div style="margin: 10px 15px 0px 15px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" >&times;</span>
                </button>
                <div class="header">
                  <p class="title-signup">Welcome back</p>
                  <p class="subtitle-signup">Sign in to access share stories, like articles and leave your thoughts that matters to you.</p>
                </div>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <%= render template: 'devise/sessions/new'%>
                </div>
                <a class="nav-link light sign_in_link" style="padding: 0 16px" href="">Login with other options</a>
                <a class="nav-link light sign_up_link" style="padding: 0 16px" href="">Not a member? Sign up now!</a>
              </div>
            </div>
<!--  Forget password Content-->
            <div class="modal-content forgot_password_content">
              <div style="margin: 10px 15px 0px 15px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" >&times;</span>
                </button>
                <div class="header">
                  <p class="title-signup">Forgot your password?</p>
                  <!-- <p class="subtitle-signup">Sign in to access share stories, like articles and leave your thoughts that matters to you.</p> -->
                </div>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <%= render template: 'devise/passwords/new'%>
                </div>
                <a class="nav-link light sign_in_link" style="padding: 0 16px" href="">Login with other options</a>
                <a class="nav-link light sign_up_link" style="padding: 0 16px" href="">Not a member? Sign up now!</a>
              </div>
            </div>

<!--  Forget password Content-->
            <div class="modal-content no_receive_confirm_instr_content">
              <div style="margin: 10px 15px 0px 15px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" >&times;</span>
                </button>
                <div class="header">
                  <p class="title-signup">Resend confirmation instructions</p>
                  <!-- <p class="subtitle-signup">Sign in to access share stories, like articles and leave your thoughts that matters to you.</p> -->
                </div>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <%= render template: 'devise/confirmations/new'%>
                </div>
                <a class="nav-link light sign_in_link" style="padding: 0 16px" href="">Login with other options</a>
                <a class="nav-link light sign_up_link" style="padding: 0 16px" href="">Not a member? Sign up now!</a>
              </div>
            </div>
        </div>
      </div>
<!-- Sign Up & Sign In Modal End -->
      <%= yield %>

      <script>
      $(document).ready(function() {
      	// get current URL path and assign 'active' class
        var pathname = window.location.pathname;
        $('a[href="'+pathname+'"]').parent().addClass('active');
        // assign 'active' class on click
        $('a').click(function(){
          $('li').removeClass("active");
          $(this).parent('li').addClass("active");
        });
      });



      $(document).ready(function(){

// sign up button on navbar
        $(".sign_up_nav").on("click",function(event){
          event.preventDefault();
          $(".email_sign_in_content").hide();
          $(".no_receive_confirm_instr_content").hide();
          $(".forgot_password_content").hide();
          $(".sign_in_options").hide();
          $(".sign_up_content").show();

          $(".sign_in_link").on('click',function(event){
            event.preventDefault();
            $(".sign_up_content").hide();
            $(".forgot_password_content").hide();
            $(".no_receive_confirm_instr_content").hide();
            $(".email_sign_in_content").hide();
            $(".sign_in_options").show();
          })

          $(".sign_up_link").on('click',function(event){
            event.preventDefault();
            $(".sign_in_options").hide();
            $(".no_receive_confirm_instr_content").hide();
            $(".email_sign_in_content").hide();
            $(".forgot_password_content").hide();
            $(".sign_up_content").show();
          })

          $(".email_option_login").on("click",function(event){
            event.preventDefault();
            $(".no_receive_confirm_instr_content").hide();
            $(".sign_in_options").hide();
            $(".sign_up_content").hide();
            $(".forgot_password_content").hide();
            $(".email_sign_in_content").show();
          })

          $(".forgot_password_form").on("click",function(event){
            event.preventDefault();
            $(".sign_in_options").hide();
            $(".sign_up_content").hide();
            $(".no_receive_confirm_instr_content").hide();
            $(".email_sign_in_content").hide();
            $(".forgot_password_content").show();
          })


          $(".no_receive_confirmation_instr").on("click",function(event){
            event.preventDefault();
            $(".sign_in_options").hide();
            $(".sign_up_content").hide();
            $(".email_sign_in_content").hide();
            $(".forgot_password_content").hide();
            $(".no_receive_confirm_instr_content").show();
          })
         })

// login button on navbar
        $(".login_nav").on("click",function(event){
          event.preventDefault();
          $(".email_sign_in_content").hide();
          $(".sign_up_content").hide();
          $(".no_receive_confirm_instr_content").hide();
          $(".forgot_password_content").hide();
          $(".sign_in_options").show();

          $(".sign_in_link").on('click',function(event){
            event.preventDefault();
            $(".no_receive_confirm_instr_content").hide();
            $(".forgot_password_content").hide();
            $(".sign_up_content").hide();
            $(".email_sign_in_content").hide();
            $(".sign_in_options").show();
          })

          $(".sign_up_link").on('click',function(event){
            event.preventDefault();
            $(".no_receive_confirm_instr_content").hide();
            $(".forgot_password_content").hide();
            $(".sign_in_options").hide();
            $(".email_sign_in_content").hide();
            $(".sign_up_content").show();
          })

          $(".email_option_login").on("click",function(event){
            event.preventDefault();
            $(".no_receive_confirm_instr_content").hide();
            $(".forgot_password_content").hide();
            $(".sign_in_options").hide();
            $(".sign_up_content").hide();
            $(".email_sign_in_content").show();
          })

          $(".forgot_password_form").on("click",function(event){
            event.preventDefault();
            $(".no_receive_confirm_instr_content").hide();
            $(".sign_in_options").hide();
            $(".sign_up_content").hide();
            $(".email_sign_in_content").hide();
            $(".forgot_password_content").show();
          })

          $(".no_receive_confirmation_instr").on("click",function(event){
            event.preventDefault();
            $(".sign_in_options").hide();
            $(".sign_up_content").hide();
            $(".email_sign_in_content").hide();
            $(".forgot_password_content").hide();
            $(".no_receive_confirm_instr_content").show();

          })
        })


      })


      </script>


  </body>
</html>
